In [4]:
import pandas as pd
import re
import requests
import json

In [18]:
        def get_blocks():
            sats_conversion = 100000000
            last_blocks = requests.get('https://explorer.rise.vision/api/getLastBlocks')
            last_blocks_cleaned = json.loads(last_blocks.content)['blocks']
            df = pd.DataFrame(last_blocks_cleaned)
            lst = []
            for dct in df['delegate'].tolist():
                lst.append((dct['username'], dct['rank']))

            df['username'] = ''
            df['rank'] = ''
            
            for ix in range(len(df)):
                df['username'].ix[ix] = lst[ix][0]
                df['rank'].ix[ix] = lst[ix][1]

            df.head(5)
            del df['delegate']
            
            df_cols = [x for x in df.columns.tolist()]
            block_cols = ['generator', 'height', 'blockid', 'reward', 'timestamp', 'totalamount', 'totalfee',
                          'totalforged', 'transactionscount', 'username', 'rank']
            columns = {x: y for (x, y) in zip(df_cols, block_cols)}
            df.rename(columns=columns, inplace=True)
                                    
            df['reward'] = df['reward']/sats_conversion
            df['totalamount'] = df['totalamount']/sats_conversion
            df['totalfee'] = df['totalfee']/sats_conversion
            df['totalforged'] = df['totalforged']/sats_conversion
            

            return df

        df = get_blocks()

/home/anand/Desktop/mysite/venv/lib/python2.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/home/anand/Desktop/mysite/venv/lib/python2.7/site-packages/ipykernel_launcher.py:15: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  from ipykernel import kernelapp as app

In [19]:
df

,generator,height,blockid,reward,timestamp,totalamount,totalfee,totalforged,transactionscount,username,rank
0,12966997531833013012R,1431955,12706534683601852680,12.0,76737660,7.082046,0.6,12.6,6,cct_risearmy,8
1,17711142197825274534R,1431954,10710133055799227310,12.0,76737630,5.362067,0.5,12.5,5,valhalla,83
2,5527669024087519724R,1431953,2713075827827070136,12.0,76737600,0.000000,0.0,12.0,0,yoda_pool,15
3,8302668110151906101R,1431952,17283006295808643026,12.0,76737570,0.000000,0.0,12.0,0,jupiter,48
4,7992906324574165150R,1431951,16301240612106485607,12.0,76737540,0.000000,0.0,12.0,0,omz,31
5,3262489507414775391R,1431950,7979650957554267700,12.0,76737510,0.000000,0.0,12.0,0,jan,2
6,7889374079483640385R,1431949,12768838861164940531,12.0,76737480,0.000000,0.0,12.0,0,stefanoproxy_pool,25
7,409872007833229956R,1431948,14752765841866295966,12.0,76737450,0.000000,0.0,12.0,0,smart,71
8,12312217441751697009R,1431947,5910618663772565407,12.0,76737420,0.000000,0.0,12.0,0,archer,89
9,1603493449158083086R,1431946,10723384588623142289,12.0,76737390,0.000000,0.0,12.0,0,cleopatra,98
10,12608597047379516196R,1431945,1729327940757059836,12.0,76737360,272.105987,2.5,14.5,25,daenerys,50
11,6433343791511456109R,1431944,18207292101020605576,12.0,76737330,21.267733,1.5,13.5,15,maxwell_pp2,18
12,14180508175823844547R,1431943,3092556753609316011,12.0,76737300,0.000000,0.0,12.0,0,johnburr,81
13,15455092118897280843R,1431942,14170926339279123781,12.0,76737270,0.000000,0.0,12.0,0,risegallery,6
14,1706830411518858633R,1431941,16828344260719567557,12.0,76737240,0.000000,0.0,12.0,0,coinbang_a,53
15,1304736568675383072R,1431940,9472781538227133509,12.0,76737210,0.000000,0.0,12.0,0,eastwood,97
16,7902450404536826350R,1431939,16247041323328884024,12.0,76737180,0.000000,0.0,12.0,0,dts,19
17,12158656918322992282R,1431938,7488186040412025547,12.0,76737150,0.000000,0.0,12.0,0,corin,87
18,5956068908609553156R,1431937,8884127997115732520,12.0,76737120,0.000000,0.0,12.0,0,pinot,67
19,12264027858988156197R,1431936,10887422941090379293,12.0,76737090,0.000000,0.0,12.0,0,lexus,51

In [23]:
def get_transactions():
    last_transactions = requests.get('https://explorer.rise.vision/api/getLastTransactions')
    last_transactions_cleaned = json.loads(last_transactions.content)['transactions']
    zf = pd.DataFrame(last_transactions_cleaned)

    to_del = ['asset','blockId','knownRecipient','knownSender','recipientDelegate','recipientPublicKey','requesterPublicKey','rowId','senderDelegate','senderPublicKey','signSignature','signature','signatures',]
    desired_cols = [x for x in zf.columns.tolist() if x not in to_del]

    zf = zf[desired_cols]

    zf = zf.rename(columns={x[0]:x[1].lower() for x in zip(zf.columns.tolist(),zf.columns.tolist())})

    zf = zf[['id','amount','fee','height','senderid','timestamp','recipientid','type','confirmations']]

    sort_me = """
    txid = models.BigIntegerField()
    amount = models.BigIntegerField()
    fee = models.BigIntegerField()
    height = models.BigIntegerField()
    senderid = models.CharField(max_length=50)
    timestamp = models.BigIntegerField()
    recipientid = models.CharField(max_length=50)
    txtype = models.BigIntegerField()
    confirmations = models.BigIntegerField()
    """

    lst = sort_me.split('\n')
    tx_cols = []
    for ix in lst:
        if ix:  
            resp = re.split(' =', ix)
            tx_cols.append(resp[0].strip())
    curr_tx_cols = zf.columns.tolist()
    columns = {x:y for (x,y) in zip(curr_tx_cols, tx_cols)}
    zf.rename(columns = columns, inplace=True)
    return zf
zf = get_transactions()

IndentationError: expected an indented block (<ipython-input-23-9fbae23d4981>, line 30)

NameError: name 'zf' is not defined